@font-face {
  font-family: "Regular";
  src: url("./../fonts/HurmeGeometricSans1.otf");
}
@font-face {
  font-family: "Light";
  src: url("./../fonts/HurmeGeometricSans1_Light.otf");
}
@font-face {
  font-family: "SemiBold";
  src: url("./../fonts/HurmeGeometricSans1_SemiBold.otf");
}
@keyframes destak-color {
  0% {
    background-color: #13293d;
    color: whitesmoke;
  }
  25% {
    background-color: #006494;
    color: whitesmoke;
  }
  75% {
    background-color: #247ba0;
    color: whitesmoke;
  }
}
@keyframes home-img-animation {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2px);
  }
}
@keyframes home-img-animation2 {
  20% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes home-img-animation3 {
  0% {
    transform: translateY(0px);
  }
  25% {
    width: 100px;
  }
  50% {
    transform: translateY(20px);
  }
}
@keyframes home-img-animation4 {
  0% {
    transform: translateX(12px);
    width: 80px;
  }
  65% {
    transform: translateX(0px);
  }
}
@keyframes home-img-animation-notbook-screen {
  0% {
    opacity: 1;
    fill: rgba(0, 0, 0, 0.3);
  }
  25% {
    opacity: 1;
    fill: #006494;
  }
  50% {
    opacity: 0.8;
    fill: #247ba0;
  }
  75% {
    opacity: 1;
  }
}
@keyframes home-img-animation-avatar-cabeca {
  5% {
    transform: translate(-0.5px, 0);
  }
  10% {
    transform: translate(0, 0);
  }
}
#avatar-cabeca {
  animation: home-img-animation-avatar-cabeca 0.5s infinite;
}

@keyframes home-img-animation-avatar-braco {
  0% {
    d: path("M325.94633,502.05131l86.76393,16.192a17.07827,17.07827,0,0,0,.73363,1.59338,17.90571,17.90571,0,0,0,11.49146,8.97255,17.72,17.72,0,0,0,15.39865-1.60867,17.8638,17.8638,0,0,0-20.475-30.51175,18.16787,17.16787,0,0,0-2.02,1.27194l-75.361-25.744-3.85719-19.42893L308.36136,456.856l3.239,32.56972A17.76744,17.76744,0,0,0,325.94633,503.08131Z");
  }
  3% {
    d: path("M325.94633,505.05131l86.76393,16.192a17.07827,17.07827,0,0,0,.73363,1.59338,17.90571,17.90571,0,0,0,11.49146,8.97255,17.72,17.72,0,0,0,15.39865-1.60867,17.8638,17.8638,0,0,0-20.475-30.51175,18.16787,17.16787,0,0,0-2.02,1.27194l-75.361-25.744-3.85719-19.42893L308.36136,456.856l3.239,32.56972A17.76744,17.76744,0,0,0,325.94633,505.08131Z");
  }
  70% {
    d: path("M325.94633,502.05131l86.76393,16.192a17.07827,17.07827,0,0,0,.73363,1.59338,17.90571,17.90571,0,0,0,11.49146,8.97255,17.72,17.72,0,0,0,15.39865-1.60867,17.8638,17.8638,0,0,0-20.475-30.51175,18.16787,17.16787,0,0,0-2.02,1.27194l-75.361-25.744-3.85719-19.42893L308.36136,456.856l3.239,32.56972A17.76744,17.76744,0,0,0,325.94633,503.08131Z");
  }
  73% {
    d: path("M325.94633,505.05131l86.76393,16.192a17.07827,17.07827,0,0,0,.73363,1.59338,17.90571,17.90571,0,0,0,11.49146,8.97255,17.72,17.72,0,0,0,15.39865-1.60867,17.8638,17.8638,0,0,0-20.475-30.51175,18.16787,17.16787,0,0,0-2.02,1.27194l-75.361-25.744-3.85719-19.42893L308.36136,456.856l3.239,32.56972A17.76744,17.76744,0,0,0,325.94633,505.08131Z");
  }
  80% {
    d: path("M325.94633,501.05131l86.76393,16.192a17.07827,17.07827,0,0,0,.73363,1.59338,17.90571,17.90571,0,0,0,11.49146,8.97255,17.72,17.72,0,0,0,15.39865-1.60867,17.8638,17.8638,0,0,0-20.475-30.51175,18.16787,17.16787,0,0,0-2.02,1.27194l-75.361-25.744-3.85719-19.42893L308.36136,456.856l3.239,32.56972A17.76744,17.76744,0,0,0,325.94633,501.08131Z");
  }
}
#avatar-braco {
  animation: home-img-animation-avatar-braco 1s infinite;
}

#avatar-braco2 {
  opacity: 0.7;
}

@keyframes home-img-animation-avatar-braco2 {
  33% {
    d: path("M438.6459,511.69953a17.86664,17.86664,0,0,0-19.78976-17.86231,17.20233,17.20233,0,0,0-2.34789.43277l-60.46411-51.82742,3.61319-19.47549-29.8018-9.65812-8.9854,31.2107a18.10285,18.10285,0,0,0,7.6802,20.20409l74.38136,47.04492a17.0684,17.0684,0,0,0,.09142,1.75175,17.86684,17.86684,0,0,0,21.691,15.50179,17.38164,17.38164,0,0,0,2.10507-.60774A17.92013,17.92013,0,0,0,434.6459,511.69953Z");
  }
}
#avatar-braco2 {
  animation: home-img-animation-avatar-braco2 1s infinite;
}

#folhinha {
  fill: #063B00;
}

@keyframes home-img-animation-avatar-folhinha {
  33% {
    d: path("M743.64988,719.89539c18.27372,9.45731,26.39842,30.0488,26.39842,30.0488s-21.50286,5.25812-39.77654-4.19918-26.39843-30.04881-26.39843-30.04881S725.37615,714.43807,743.64988,723.89539Z");
  }
  50% {
    d: path("M743.64988,725.89539c18.27372,9.45731,28.39842,30.0488,26.38842,30.0488s-21.50286,5.25812-39.77654-4.19918-26.39843-30.04881-26.39843-30.04881S725.37615,714.43807,743.64988,723.89539Z");
  }
}
@keyframes home-img-animation-avatar-folhinha2 {
  80% {
    d: path("M737.80616,730.70767c10.90465,17.44872,32.08594,23.881,32.08594,23.881s3.50132-21.85773-7.40333-39.30649-32.08594-23.881-32.08594-23.881S726.90145,713.259,737.80616,730.70767Z");
  }
}
#folhinha-pt1 {
  fill: #0A5D00;
  animation: home-img-animation-avatar-folhinha 2s infinite;
}

#folhinha-pt2 {
  fill: #063B00;
  animation: home-img-animation-avatar-folhinha2 3s infinite;
}

@keyframes home-img-animation-avatar-olho {
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
}
#avatar-olho {
  fill: #333030;
  opacity: 1;
  animation: home-img-animation-avatar-olho 10s infinite;
}

#logo-svg .logo-svg-path:nth-child(1) {
  fill: #006494;
}
#logo-svg .logo-svg-path:nth-child(2) {
  fill: #247ba0;
}
#logo-svg .logo-svg-path:nth-child(3) {
  fill: #13293d;
}

.background, .opacity-9::after, .opacity-8::after, .opacity-7::after, .opacity-6::after, .opacity-5::after, .opacity-4::after, .opacity-3::after, .opacity-2::after, .opacity-1::after {
  z-index: -3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgb(135, 206, 235) 0%, transparent 100%);
  overflow-y: scroll;
}

.opacity-1::after {
  content: "";
  z-index: -100;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%) !important;
  transition: background ease-in-out 4s;
}

.opacity-2::after {
  content: "";
  z-index: -100;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%) !important;
  transition: background ease-in-out 4s;
}

.opacity-3::after {
  content: "";
  z-index: -100;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, transparent 100%) !important;
  transition: background ease-in-out 4s;
}

.opacity-4::after {
  content: "";
  z-index: -100;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, transparent 100%) !important;
  transition: background ease-in-out 4s;
}

.opacity-5::after {
  content: "";
  z-index: -100;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, transparent 100%) !important;
  transition: background ease-in-out 4s;
}

.opacity-6::after {
  content: "";
  z-index: -100;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, transparent 100%) !important;
  transition: background ease-in-out 4s;
}

.opacity-7::after {
  content: "";
  z-index: -100;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, transparent 100%) !important;
  transition: background ease-in-out 4s;
}

.opacity-8::after {
  content: "";
  z-index: -100;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, transparent 100%) !important;
  transition: background ease-in-out 4s;
}

.opacity-9::after {
  content: "";
  z-index: -100;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, transparent 100%) !important;
  transition: background ease-in-out 4s;
}

.flex-center, .modal-config .item, .modal-config .item3, .modal-config .item2, .modal-config .item2-disabled, .modal-config .item-disabled, .modal-config, .page .right, .page .left .buttons, .page .left, .header .menu ul li a, .header .menu ul li, .header .logo-content, .btn, .btn-destak, .btn-lg, .btn-light2, .btn-light, .btn-secondary, .btn-primary2, .btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn, .btn-destak, .btn-lg, .btn-light2, .btn-light, .btn-secondary, .btn-primary2, .btn-primary {
  z-index: 100;
  text-decoration: none;
  cursor: pointer;
  font-family: SemiBold;
  opacity: 0.8;
  border-radius: 2px;
  transition: all ease-in-out 0.6s;
  margin: 2px;
  padding: 10px 15px;
}
.btn:hover, .btn-destak:hover, .btn-lg:hover, .btn-light2:hover, .btn-light:hover, .btn-secondary:hover, .btn-primary2:hover, .btn-primary:hover {
  opacity: 1;
  transform: translateY(-1.5px);
  transition: all ease-in-out 0.3s;
}
.btn-primary {
  color: #e8f1f2;
  background: #006494;
}
.btn-primary2 {
  color: #006494;
}
.btn-secondary {
  color: #e8f1f2;
  background: #13293d;
}
.btn-light {
  color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}
.btn-light2 {
  color: #e8f1f2;
  background: rgba(36, 123, 160, 0.7);
}
@media screen and (min-width: 500px) {
  .btn-lg {
    min-width: 180px;
    max-width: 200px;
  }
}
.btn-destak {
  color: #e8f1f2;
  background: #006494;
  opacity: 2;
}
.btn > svg, .btn-primary > svg, .btn-primary2 > svg, .btn-secondary > svg, .btn-light > svg, .btn-light2 > svg, .btn-lg > svg, .btn-destak > svg {
  margin-right: 5px;
  font-size: 0.8rem;
}

.app {
  max-width: 100vw;
  padding: 112px;
  box-sizing: border-box;
  padding: 0px 15px;
}
@media screen and (min-width: 500px) {
  .app {
    padding: 20px 35px;
  }
}

.main {
  display: flex;
  position: relative;
}

.header {
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .header {
    padding: 0px;
    justify-content: flex-start !important;
  }
}
.header .logo-content {
  width: 18%;
}
@media screen and (max-width: 500px) {
  .header .logo-content {
    display: none;
  }
}
.header .logo-content i.logo,
.header .logo-content svg.logo {
  font-size: 3rem;
}
.header .menu {
  width: 82%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .header .menu {
    width: 100%;
    padding: 0;
  }
}
.header .menu ul {
  display: inline-flex;
  list-style: none;
  width: 100%;
  padding: 0;
  margin-right: 10px;
}
@media screen and (min-width: 843px) {
  .header .menu ul {
    margin-right: 0px;
  }
}
.header .menu ul li {
  justify-content: flex-start;
}
@media screen and (min-width: 843px) {
  .header .menu ul li {
    margin: 0px 15px;
  }
}
.header .menu ul li a {
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 30px;
  font-family: SemiBold;
  text-transform: lowercase;
  text-decoration: none;
  color: rgba(232, 241, 242, 0.8);
  cursor: pointer;
  transition: all ease-in-out 0.6s;
}
.header .menu ul li a b {
  display: none;
  text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 843px) {
  .header .menu ul li a {
    min-width: 20%;
    padding-right: 60px;
    font-size: 1.3rem;
  }
  .header .menu ul li a b {
    display: block;
  }
}
.header .menu ul li a i,
.header .menu ul li a svg {
  margin-right: 10px;
  color: rgba(232, 241, 242, 0.8);
}
.header .menu ul li.active, .header .menu ul li > a.active, .header .menu ul li > a:hover,
.header .menu ul li .router-link-active {
  transition: all ease-in-out 0.3s;
  transform: translateY(-1px);
  color: #e8f1f2;
  text-decoration: line-through;
}
.header .menu ul li.active svg, .header .menu ul li > a.active svg, .header .menu ul li > a:hover svg,
.header .menu ul li .router-link-active svg {
  color: #e8f1f2;
}

.sidebar {
  height: 100vh;
  width: 10%;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 100;
}
@media screen and (min-width: 843px) {
  .sidebar {
    position: relative;
    justify-content: center;
    padding: 10px;
  }
}
.sidebar .icons {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 843px) {
  .sidebar .icons {
    margin-bottom: 20px;
    margin-right: 20px;
  }
}
.sidebar .icons i,
.sidebar .icons svg {
  margin-top: 60px;
  text-shadow: -1px 10px 10px rgba(232, 241, 242, 0.3);
}
.sidebar .icon-scroll {
  font-size: 1.7rem;
  cursor: pointer;
}
.sidebar .icon-scroll:nth-child(1) {
  color: #13293d;
}
.sidebar .icon-scroll:nth-child(2) {
  color: #006494;
}

.footer {
  margin: 0 !important;
  text-align: center;
}
@media screen and (min-width: 500px) {
  .footer {
    text-align: left;
  }
}
.footer p {
  color: rgba(0, 0, 0, 0.8);
  font-family: Light;
  padding: 0;
  font-size: 0.6rem;
}
@media screen and (min-width: 500px) {
  .footer p {
    padding-left: calc(10% - 10px);
  }
}

.page {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
@media screen and (min-width: 843px) {
  .page {
    flex-direction: row;
  }
}
.page .meimg {
  width: 280px;
  border-radius: 50%;
}
.page .left {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.page .left .btn-primary,
.page .left .btn-secondary {
  position: relative;
  min-width: 90%;
}
@media screen and (min-width: 843px) {
  .page .left {
    width: 70%;
  }
  .page .left .btn-primary,
  .page .left .btn-secondary {
    min-width: 25%;
  }
}
.page .left h2 {
  z-index: 100;
  font-family: Semibold;
  font-size: 1.5rem;
  color: #006494;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.page .left p {
  z-index: 100;
  font-family: Semibold;
  line-height: 1.5;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 843px) {
  .page .left p {
    max-width: 90%;
    text-align: center;
  }
}
.page .left .destak,
.page .left h2 {
  background-color: #13293d;
  color: whitesmoke;
  padding: 5px;
  animation: destak-color 4s infinite;
}
.page .left .destak2 {
  color: #006494;
}
.page .left .destak3 {
  color: #247ba0;
}
.page .left .slogan {
  font-size: 3.5rem !important;
  font-family: Semibold;
  padding: 10px;
  justify-content: center;
  white-space: pre-wrap;
  text-overflow: none;
  text-align: left;
  width: 100%;
  z-index: 2;
  line-height: 1.8rem;
  color: #e8f1f2;
  font-size: 1rem;
  line-height: 3.6rem;
  max-width: 50%;
  text-wrap: no-wrap;
  text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 843px) {
  .page .left .slogan {
    font-size: 1rem;
    line-height: 3.6rem;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
.page .left .slogan .destak2 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.6rem;
}
@media screen and (min-width: 843px) {
  .page .left .slogan .destak2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 843px) {
  .page .left .slogan {
    max-width: 100% !important;
    text-align: left !important;
  }
}
.page .left .home-img {
  display: none;
  width: 90%;
  max-height: 300px;
  margin-bottom: 10px;
  align-self: flex-start;
}
@media screen and (max-width: 843px) {
  .page .left .home-img {
    display: flex;
  }
}
.page .left .buttons {
  width: 90%;
  flex-direction: column;
}
@media screen and (min-width: 843px) {
  .page .left .buttons {
    flex-direction: row;
    justify-content: flex-start;
    width: 88%;
  }
}
.page .left .meimg {
  margin-top: 40px;
  align-self: center;
}
@media screen and (min-width: 843px) {
  .page .left .meimg {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .page .left .meimg {
    width: 190px;
    align-self: center;
  }
}
.page .right {
  width: 40%;
}
@media screen and (max-width: 843px) {
  .page .right {
    display: none;
  }
}
.page .right .home-img {
  width: 100%;
  transform: translateX(-20%);
  z-index: 1;
}
@media screen and (max-width: 843px) {
  .page .right .home-img {
    display: none;
  }
}
@media screen and (max-width: 843px) {
  .page .right .meimg {
    display: none;
  }
}

.home-img #tela-top {
  fill: #13293d;
}
.home-img #tela-item1 {
  fill: #13293d;
  animation: home-img-animation 3s infinite;
}
.home-img #tela-item2 {
  fill: rgba(0, 0, 0, 0.3);
  animation: home-img-animation2 3s infinite;
}
.home-img #tela-item3 {
  fill: #006494;
  animation: home-img-animation3 3s infinite;
}
.home-img #tela-sidebar {
  fill: #247ba0;
  animation: home-img-animation4 3s infinite;
}
.home-img #notbook-screen {
  opacity: 1;
  fill: #f2f2f2;
  animation: home-img-animation-notbook-screen 5s infinite;
}
@media screen and (max-width: 843px) {
  .home-img #notbook-screen {
    display: none !important;
  }
}

.social-networks {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.social-networks > .item, .modal-config .social-networks > .item3, .modal-config .social-networks > .item2, .modal-config .social-networks > .item2-disabled, .modal-config .social-networks > .item-disabled {
  font-size: 2rem;
  margin: 5px;
  color: #006494;
  border-radius: 5px;
  padding: 5px !important;
  background: none !important;
  cursor: pointer;
  transition: all ease-in 0.3s;
}
.social-networks > .item:hover, .modal-config .social-networks > .item3:hover, .modal-config .social-networks > .item2:hover, .modal-config .social-networks > .item2-disabled:hover, .modal-config .social-networks > .item-disabled:hover {
  transition: all ease-in 0.6s;
  transform: translateY(-2px);
  color: #13293d;
}

.about > .left h2 {
  align-self: center;
}
@media screen and (min-width: 843px) {
  .about > .left {
    align-self: start !important;
  }
}
.about > .left .slogan {
  font-size: 1.5rem !important;
  line-height: 2rem;
  text-align: center !important;
  color: rgba(0, 0, 0, 0.8);
  max-width: 60%;
  margin: 0 !important;
}
@media screen and (min-width: 843px) {
  .about > .left .slogan {
    text-align: left;
    font-size: 2.8rem !important;
    line-height: 3.5rem;
    max-width: 100%;
  }
}
@media screen and (max-width: 843px) {
  .about > .left .slogan {
    transform: translateX(-5%);
  }
}

.input-range {
  width: 60%;
  height: 8px;
}
@media screen and (min-width: 843px) {
  .input-range {
    width: 200px;
    height: 10px;
  }
}
.input-range::-moz-range-track, .input-range::-webkit-slider-runnable-track {
  height: 6px;
  background: #006494;
  border-radius: 5px;
  border: none !important;
}
.item-disabled > .input-range::-moz-range-track, .modal-config .item2-disabled > .input-range::-moz-range-track, .item-disabled > .input-range::-webkit-slider-runnable-track, .modal-config .item2-disabled > .input-range::-webkit-slider-runnable-track {
  background: rgba(232, 241, 242, 0.8);
  border-color: rgba(232, 241, 242, 0.8);
}
.input-range::-webkit-slider-thumb .input-range::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #247ba0;
  border-radius: 50%;
  cursor: pointer;
}
.item-disabled > .input-range::-webkit-slider-thumb .input-range::-moz-range-thumb, .modal-config .item2-disabled > .input-range::-webkit-slider-thumb .input-range::-moz-range-thumb {
  background: rgba(232, 241, 242, 0.8);
  border-color: rgba(232, 241, 242, 0.8);
}

.modal-config {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  flex-direction: column;
}
.modal-config button[name=close] {
  border: none;
  color: #e8f1f2;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  background: transparent !important;
}
@media screen and (min-width: 843px) {
  .modal-config button[name=close] {
    top: 15%;
    right: 32%;
  }
}
.modal-config .item, .modal-config .item3, .modal-config .item2, .modal-config .item2-disabled, .modal-config .item-disabled {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 60px;
  margin: 5px;
  padding: 0px 20px;
  border: solid 1px #ccc;
  border-radius: 7px;
  background-color: #e8f1f2;
  flex-wrap: wrap;
}
@media screen and (min-width: 843px) {
  .modal-config .item, .modal-config .item3, .modal-config .item2, .modal-config .item2-disabled, .modal-config .item-disabled {
    width: 300px;
    justify-content: space-between;
  }
}
.modal-config .item:hover, .modal-config .item3:hover, .modal-config .item2:hover, .modal-config .item2-disabled:hover, .modal-config .item-disabled:hover {
  cursor: pointer;
  background-color: #006494;
  border-color: transparent !important;
}
.modal-config .item:hover > label, .modal-config .item3:hover > label, .modal-config .item2:hover > label, .modal-config .item2-disabled:hover > label, .modal-config .item-disabled:hover > label, .modal-config .item:hover > svg, .modal-config .item3:hover > svg, .modal-config .item2:hover > svg, .modal-config .item2-disabled:hover > svg, .modal-config .item-disabled:hover > svg {
  color: #e8f1f2;
}
.modal-config .item-disabled > svg, .modal-config .item2-disabled > svg, .modal-config .item-disabled > label, .modal-config .item2-disabled > label {
  color: rgba(0, 0, 0, 0.3) !important;
}
.modal-config .item-disabled > input, .modal-config .item2-disabled > input {
  background: rgba(0, 0, 0, 0.2);
}
.modal-config .item-disabled:hover, .modal-config .item2-disabled:hover {
  cursor: not-allowed;
}
.modal-config .item-disabled:hover > svg, .modal-config .item2-disabled:hover > svg, .modal-config .item-disabled:hover > label, .modal-config .item2-disabled:hover > label, .modal-config .item-disabled:hover > input, .modal-config .item2-disabled:hover > input {
  cursor: not-allowed;
  color: rgba(232, 241, 242, 0.8) !important;
}
.modal-config .item-disabled:hover > input, .modal-config .item2-disabled:hover > input {
  background: rgba(0, 0, 0, 0.2) !important;
}
.modal-config .item label, .modal-config .item3 label, .modal-config .item2 label, .modal-config .item2-disabled label, .modal-config .item-disabled label {
  width: auto;
  font-family: Semibold;
  font-size: 0.9rem;
  font-weight: bolder;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.modal-config .item svg, .modal-config .item3 svg, .modal-config .item2 svg, .modal-config .item2-disabled svg, .modal-config .item-disabled svg {
  color: #006494;
  font-size: 1.6rem;
}
.modal-config .item2, .modal-config .item2-disabled {
  justify-content: flex-end;
}
.modal-config .item3 {
  justify-content: flex-end;
  margin: 0 !important;
  padding: 0 !important;
}
.modal-config .item3, .modal-config .item3:hover {
  transform: translate(15px, 10px);
  background: none;
  border: none;
}
.modal-config .item3 > svg, .modal-config .item3:hover > svg {
  color: rgba(232, 241, 242, 0.7);
}
.modal-config .item3 > svg:hover, .modal-config .item3:hover > svg:hover {
  color: #e8f1f2;
}

@keyframes cloud {
  0% {
    visibility: visible;
    opacity: 0.8;
  }
  49.9999% {
    transform: translateX(100%) translateY(10%);
    opacity: 0.6;
  }
  50% {
    visibility: hidden;
    transform: translateX(-100%) translateY(-10%);
    opacity: 0.3;
  }
  50.0001% {
    visibility: visible;
  }
  100% {
    transform: translateX(0%) translateY(0%);
    opacity: 1;
  }
}
@keyframes sun {
  0% {
    stroke: transparent;
    stroke-opacity: 0;
    stroke-width: 0;
    text-shadow: 5px -5px 10px rgba(255, 255, 0, 0.3);
  }
  100% {
    stroke: rgba(255, 255, 255, 0.2);
    stroke-opacity: 1;
    stroke-width: 20;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
}
@keyframes stars {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.1;
  }
  70% {
    opacity: 1;
  }
}
@keyframes ping-pong {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  50% {
    transform: rotateZ(0.2deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  99.999% {
    transform: rotate(360deg);
  }
}
.bg-paisagem {
  position: fixed;
  z-index: -1 !important;
  margin: 0 !important;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-365deg, #4CAF50 35%, transparent 20%);
}

.sun, .moon-craters, .sunshine {
  fill: #f3b947;
  fill-opacity: 1;
  animation: sun ease-in-out 12s infinite alternate;
  animation-play-state: paused;
  z-index: -1;
}

.moon-craters {
  fill-opacity: 0.3;
  fill: rgb(248, 239, 239) !important;
}

.cloud {
  fill: #e8f1f2;
}

.rock {
  fill: #006494;
}

.floor {
  fill: #4CAF50;
  position: fixed;
  bottom: 0;
}

.sand {
  fill: none;
  stroke: none;
}
.sand > path {
  stroke: #006494;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-dasharray: 0;
}

.stars {
  animation: stars ease-in-out 1s infinite;
  position: relative;
  fill: #e8f1f2;
  z-index: -10;
}

.bike {
  max-width: 30% !important;
  animation: cloud ease-in-out 30s infinite;
  display: none;
}
.bike > #front_tire, .bike > #rear_tire {
  stroke: #5846f6;
  fill: transparent;
  animation: ping-pong 1s infinite;
}
.bike-body {
  stroke: #5846f6;
}
.bike #cog {
  stroke-dasharray: 1;
  animation: ping-pong 1s infinite;
}
.bike #cog-pedal {
  animation: ping-pong 1s infinite;
}

.theme-day {
  color: rgba(0, 0, 0, 0.8);
}

.theme-night .menu > ul > li > a,
.theme-night .menu > ul > li > a > svg,
.theme-night .slogan {
  color: #e8f1f2 !important;
}
.theme-night .destak2 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
}
.theme-night .slogan {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
}
.theme-night .slogan > .destak2 {
  color: #e8f1f2 !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
}
.theme-night .sun, .theme-night .sunshine, .theme-night .moon-craters {
  fill: #e8f1f2;
  fill-opacity: 0.9;
}
.theme-night .moon-craters {
  fill: rgba(0, 0, 0, 0.1);
}
.theme-night .left p {
  color: #e8f1f2;
}
.theme-night .left p .destak2 {
  color: #006494;
  text-shadow: none !important;
}

/*# sourceMappingURL=app.css.map */
